<ion-header>
  <ion-toolbar>
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="clientsForm">
    <ion-item>
      <ion-label position="floating" >Número de cédula</ion-label>
      <ion-input formControlName="id" name="id"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" >Nombre completo</ion-label>
      <ion-input formControlName="fullName" name="fullName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" >Teléfono fijo</ion-label>
      <ion-input formControlName="phone" name="phone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" >Celular</ion-label>
      <ion-input formControlName="mobile" name="mobile"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" >Tipo de negocio</ion-label>
      <ion-input formControlName="bussinessType" name="bussinessType"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" >Dirección</ion-label>
      <ion-input formControlName="address" name="address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" >Barrio</ion-label>
      <ion-input formControlName="neighborhood" name="neighborhood"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" >Ciudad</ion-label>
      <ion-input formControlName="city" name="city"></ion-input>
    </ion-item>
    
    <ion-button expand="block" (click)="login()" [disabled]="!loginForm.valid">Guardar</ion-button>
  </form>
</ion-content>
