<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Clientes</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="person-add" slot="start"></ion-icon>
      <ion-label>Crea un nuevo cliente</ion-label>
      <ion-button fill="outline" slot="end" (click)="toCreate()">Crear</ion-button>
    </ion-item>
  </ion-card>
  <!-- Searchbar with cancel button shown on focus -->
  <ion-searchbar placeholder="Buscar por cédula..." showCancelButton="focus" (ionInput)="filterClients($event.target.value)"></ion-searchbar>
  <!-- Loader -->
  <div class="ion-text-center ion-margin-top" *ngIf="!clients">
    <ion-spinner color="primary" *ngIf="!clients" class="ion-text-center"></ion-spinner>
  </div>

  <ion-list>
    <ion-item detail="true" *ngFor="let client of clients" (click)="toDetails(client.id)">
        <ion-label text-wrap>
            <ion-text>
              <h3>{{ client.fullName}}</h3>
            </ion-text>
            <p><b>C.C. </b>{{ client.id }}</p>
          </ion-label>
    </ion-item>
  </ion-list>

</ion-content>