<ion-content>
  <h4>Login</h4>
  <form [formGroup]="loginForm">
  <ion-item>
    <ion-label position="floating" >Email</ion-label>
    <ion-input formControlName="email" name="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" >Password</ion-label>
    <ion-input type="password" formControlName='password' name="password" ></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="login()" [disabled]="!loginForm.valid">Login</ion-button>
</form>
</ion-content>