<ion-header>
    <ion-toolbar>
        <ion-title>Detalle del crédito</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">Cerrar</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form [formGroup]="creditForm">
        <ion-item>
            <ion-label position="floating">Frecuencia de cobros</ion-label>
            <ion-select placeholder="Selecciona una opción" formControlName="collectFrecuency" name="collectFrecuency" required>
              <ion-select-option value="" selected>Seleccione una opción</ion-select-option>
              <ion-select-option value="1">Diario</ion-select-option>
              <ion-select-option value="7">Semanal</ion-select-option>
              <ion-select-option value="30">Mensual</ion-select-option>
            </ion-select>
          </ion-item>
    
          <ion-item>
            <ion-label position="floating">Valor del crédito</ion-label>
            <ion-select placeholder="Selecciona una opción" formControlName="totalAmount" name="totalAmount" (ionChange)="showAvailablesFees($event)" required>
              <ion-select-option value="" selected>Seleccione un valor</ion-select-option>
              <ion-select-option *ngFor="let amount of availableAmounts" value="{{ amount }}">{{ amount.toLocaleString('DE-de') }}</ion-select-option>
            </ion-select>
          </ion-item>
    
          <ion-item>
            <ion-label position="floating">Número de cuotas</ion-label>
            <ion-select placeholder="Selecciona una opción" formControlName="numberFees" name="numberFees" (ionChange)="showFeeTotalAmount($event)" required>
              <ion-select-option value="" selected>Seleccione un valor</ion-select-option>
              <ion-select-option *ngFor="let fee of availableNumberFees" [value]="fee">{{ fee.numberFees }}</ion-select-option>
            </ion-select>
          </ion-item>
    
          <ion-item>
              <ion-label position="floating">Valor de la cuota</ion-label>
              <ion-input formControlName="feesTotalAmount" name="feesTotalAmount" type="number" readonly></ion-input>
            </ion-item>

        <ion-button expand="block" (click)="createCredit()" [disabled]="!creditForm.valid">Enviar solicitud</ion-button>
    </form>

</ion-content>