<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-grid>
      <ion-row>

        <!-- Pie chart -->
        <ion-col size="6" class="ion-padding">
          <ion-text color="dark">
            <h5>Resumen diario</h5>
          </ion-text>
          <canvas id="chart-pie" #chartpie></canvas>
        </ion-col>

        <!-- Chart legend -->
        <ion-col size="6">
          <div class="cchart-legend">
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-button slot="end" shape="round" color="light">
                      <ion-icon name="calendar"></ion-icon>
                    </ion-button>

                    <ion-datetime display-format="MMM DD" pickerFormat="YYYY MMM DD"
                      [pickerOptions]="customPickerOptions"
                      monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic" [(ngModel)]="now">
                    </ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="12">
                  <p class="ion-no-margin">Cuotas pagadas</p>
                  <ion-badge color="success">$ {{ totalAmountPaid.toLocaleString('DE-de') }}</ion-badge>
                </ion-col>
                <ion-col size="12">
                  <p class="ion-no-margin">Cuotas no pagadas</p>
                  <ion-badge color="danger">$ {{ totalAmountNotPaid.toLocaleString('DE-de')}}</ion-badge>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-list>
    <ion-list-header>
      <ion-label>Listado de cobradores</ion-label>
    </ion-list-header>

    <!-- Loader -->
    <div class="ion-text-center ion-margin-top" *ngIf="dailyCollections.length === 0">
      <ion-spinner color="primary" *ngIf="dailyCollections.length === 0" class="ion-text-center"></ion-spinner>
    </div>

    <!-- Informacion del recaudo -->
    <ion-card *ngFor="let collector of dailyCollections">

      <ion-item>
        <ion-icon name="cash" slot="start"></ion-icon>
        <ion-label text-wrap>
          <ion-text>
            <h2>{{ collector.name }}</h2>
          </ion-text>
          <p>{{ collector.today }}</p>
        </ion-label>
        <ion-chip slot="end">
          <ion-label color="primary">{{ collector.role == 'admin' ? 'Administrador' : 'Cobrador'}}</ion-label>
        </ion-chip>
      </ion-item>

      <ion-card-content>

        <ion-item>
          <ion-icon name="arrow-up" slot="start"></ion-icon>
          <p>Total recaudado</p>
          <ion-text slot="end" color="success">$ {{ collector.totalCollected.toLocaleString('DE-de') }}</ion-text>
        </ion-item>

        <ion-item>
          <ion-icon name="arrow-down" slot="start"></ion-icon>
          <p>Cuotas no pagadas</p>
          <ion-text slot="end" color="danger">$ {{ collector.totalNotPaid.toLocaleString('DE-de') }}</ion-text>
        </ion-item>

        <ion-item detail (click)="openModalDetailCollectios(collector.id)">
          <ion-label>
            Ver detalles de recaudo
          </ion-label>
        </ion-item>

      </ion-card-content>
    </ion-card>

    <!-- <ion-card>
      <ion-item>
        <ion-icon name="arrow-up" slot="start"></ion-icon>
        <p>Total a pagar</p>
        <ion-text slot="end" color="success">$ {{ totalPay.toLocaleString('DE-de') }}</ion-text>
      </ion-item>
    </ion-card> -->

    <!-- <ion-button (click)="updateCredits()">Default</ion-button> -->
  </ion-list>
</ion-content>