<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Recaudos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Searchbar with cancel button shown on focus -->
  <ion-searchbar placeholder="Buscar por nombre..." showCancelButton="focus"
    (ionInput)="filterClients($event.target.value)"></ion-searchbar>

  <!-- Loader -->
  <div class="ion-text-center ion-margin-top" *ngIf="!clients">
    <ion-spinner color="primary" *ngIf="!clients" class="ion-text-center"></ion-spinner>
  </div>


  <!-- Listado de clientes -->
  <ion-list>
    <ion-card *ngFor="let credit of clients">
      <ion-item>

        <!-- <ion-icon name="contact" slot="start"></ion-icon> -->
        <ion-label class="ion-text-wrap">
          <ion-text>
            <h3>{{ credit.fullNameClient }}</h3>
          </ion-text>
          <p><b>C.C. </b>{{ credit.idClient }}</p>
        </ion-label>
        <ion-chip style="padding: 15px 21px" *ngIf="credit.numberFees >= 25">
            <ion-label  color="primary">Diario </ion-label>
          </ion-chip>
          <ion-chip  *ngIf="credit.numberFees < 25">
            <ion-label color="secondary">Semanal</ion-label>
          </ion-chip>
        <ion-button fill="outline" slot="end" (click)="collect(credit.idClient, credit.fullNameClient, credit.id)">Cobrar
        </ion-button>
      </ion-item>
    </ion-card>
  </ion-list>



</ion-content>