<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="clients"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle de cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="align-center ion-margin-top">
    <ion-spinner color="primary" *ngIf="!client" class="align-center"></ion-spinner>
  </div>

  <ion-card *ngIf="client">
    <ion-item>
      <ion-icon name="contact" slot="start"></ion-icon>
      <ion-label text-wrap>
        <ion-text>
          <h2>{{ client.fullName }}</h2>
        </ion-text>
        <p>CC: {{ client.id }}</p>
      </ion-label>
      <ion-badge color="{{ client.billingState == 'Atrasado' ? 'danger' : 'success'}}">{{ client.billingState }}</ion-badge>
    </ion-item>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-label text-wrap>
              <ion-text>
                <strong>Dirección</strong>
              </ion-text>
              <p>{{ client.address }}</p>
            </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label text-wrap>
              <ion-text>
                <strong>Barrio</strong>
              </ion-text>
              <p>{{ client.neighborhood }}</p>
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-label text-wrap>
              <ion-text>
                <strong>Celular</strong>
              </ion-text>
              <p> {{ client.mobile }}</p>
            </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label text-wrap>
              <ion-text>
                <strong>T. Negocio</strong>
              </ion-text>
              <p>{{ client.bussinessType }}</p>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <ion-list>
    <ion-list-header>
      <ion-label>Crédito activo</ion-label>
    </ion-list-header>
    <div class="align-center">
      <ion-spinner color="primary" *ngIf="!activeCredit"></ion-spinner>
    </div>
    <ion-card *ngIf="activeCredit">
      <ion-item>
        <ion-label text-wrap>
          <ion-text>
            <h2>{{ activeCredit.id }}</h2>
          </ion-text>
          <p>Total: $ {{ activeCredit.totalAmount }}</p>
        </ion-label>
        <ion-badge color="primary">{{ activeCredit.state }}</ion-badge>
      </ion-item>

      <ion-card-content>
        <ion-grid>

          <ion-row>
            <ion-col size="7">
              <ion-label text-wrap>
                <strong>Nro. Cuotas:</strong>
              </ion-label>
            </ion-col>
            <ion-col size="5" class="align-end">
              <ion-label text-wrap>
                <p>{{ activeCredit.numberFees }}</p>
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="7">
              <ion-label text-wrap>
                <strong>Cuota total:</strong>
              </ion-label>
            </ion-col>
            <ion-col size="5" class="align-end">
              <ion-label>
                <p>$ {{ activeCredit.feesTotalAmount }}</p>
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="7">
              <ion-label text-wrap>
                <strong>Frecuencia pagos:</strong>
              </ion-label>
            </ion-col>
            <ion-col size="5" class="align-end">
              <ion-label>
                <p>{{ activeCredit.billingFrequency }}</p>
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="7">
              <ion-label text-wrap>
                <strong>Cuotas pagadas:</strong>
              </ion-label>
            </ion-col>
            <ion-col size="5" class="align-end">
              <ion-label>
                <p> {{ activeCredit.feesPaid}}</p>
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="7">
              <ion-label text-wrap>
                <strong>Cuotas pendientes:</strong>
              </ion-label>
            </ion-col>
            <ion-col size="5" class="align-end">
              <ion-label>
                <p>{{ activeCredit.outstandingFees }}</p>
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="7">
              <ion-label text-wrap>
                <strong>Saldo:</strong>
              </ion-label>
            </ion-col>
            <ion-col size="5" class="align-end">
              <ion-label>
                <p>$ {{ activeCredit.balance }}</p>
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="7">
              <ion-label text-wrap>
                <strong>Fecha acreditacióm:</strong>
              </ion-label>
            </ion-col>
            <ion-col size="5" class="align-end">
              <ion-label>
                <p>{{ activeCredit.acreditedAt }}</p>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>

    </ion-card>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Historial de créditos</ion-label>
    </ion-list-header>

    <div class="align-center">
      <ion-spinner color="primary" *ngIf="!credits" class="align-center"></ion-spinner>
    </div>

    <div *ngIf="credits">
      <ion-item *ngFor="let credit of credits">
        <ion-label text-wrap>
          <ion-text>
            <h2>{{ credit.id }}</h2>
          </ion-text>
          <p>Total: $ {{ credit.totalAmount }}</p>
        </ion-label>
        <ion-badge color="secondary">{{ credit.state }}</ion-badge>
      </ion-item>
      <ion-item *ngIf="credits.length === 0">
        <ion-label text-wrap>
          <ion-text class="ion-text-center">
            <h3>No hay historial de créditos</h3>
          </ion-text>
        </ion-label>
      </ion-item>
    </div>

  </ion-list>



</ion-content>